<div class="scroll">
	<div style="width: 100%;">
		<img id = "imageRFC_QR" style="display: block; margin-left: auto;margin-right: auto;width: 50%;" src="img/blank_image.png"></img>
	</div>
	<div class="field">
		<div class="btn btn--primary " id="boton" style="margin: 0 auto;display: block;width:50%;">Elegir imagen</div>
	</div>

	<div class="field field--file hide">
   		<label class="field__label" style="margin-left:10px;">Imagen QR</label>
    	<div class="field__controls">
    		<input type="file" name="file_rfc" id="file_rfc" style="margin-left:10px;">
    	</div>
	</div>
	<div class="field">
		<div class="btn btn--primary disabled" id="send_request" style="margin: 0 auto;display: block;width:50%;pointer-events:none;">Enviar imagen</div>
	</div>
</div>